body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:url('../../images/首页/bg.jpg');
  background-position:center center;
  background-repeat:repeat;
  background-attachment:fixed;
  background-size:3035px 3794px;
  background-origin:border-box;
  position:relative;
  left:-301px;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:120px;
  width:460px;
  height:460px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#4BD863;
  line-height:120px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:230px;
  width:100px;
  height:100px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#4BD863;
  line-height:120px;
}
#u517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:22px;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:380px;
  width:700px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:22px;
}
#u518 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
  text-align:center;
  line-height:24px;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:340px;
  width:700px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
  text-align:center;
  line-height:24px;
}
#u519 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#70B603;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:440px;
  width:150px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#70B603;
}
#u520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u520_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#70B603;
}
#u520.mouseOver {
  opacity:0.8;
}
#u520_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#70B603;
}
#u520.mouseDown {
  opacity:1;
}
#u520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
